In [1]:
# Task 1: Create three DataFrames and save them as three .csv files.

# Import the pandas library which is very essential for working with Dataframes
import pandas as pd

# Import the numpy library, which is used for numerical operations and NaN (Not a Number) values
import numpy as np

In [2]:
# --- Creating the Project Dataframe ---
# Define the data for the Project Dataframe as a dictionary
# Each key in the dictionary will be a column name, and its value will be a list of data for that column
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan,680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished','Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Create the DataFrame using the pd.DataFrame() constructor
# This converts our dictionary data into a structured table (DataFrame)
project_df = pd.DataFrame(project_data)

# Display the entire created Project DataFrame 
# No need for print() here if it's the last line, but print() works too.
print("--- Project DataFrame ---")
project_df # This will display the DataFrame nicely in Jupyter output

--- Project DataFrame ---

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [3]:
# --- Verification Step: Check Cost values immediately after DataFrame creation ---
print("Cost column values after initial DataFrame creation (Task 1, Cell 2):")
print(project_df['Cost'].tolist())

Cost column values after initial DataFrame creation (Task 1, Cell 2):
[1002000.0, 2000000.0, 4500000.0, 5500000.0, nan, 680000.0, 400000.0, 350000.0, nan, 300000.0, 2000000.0, 1000000.0, 3000000.0, 200000.0]

In [4]:
# --- Creating the Employee DataFrame ---

# Define the data for the Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

# Create the Employee DataFrame
employee_df = pd.DataFrame(employee_data)

# Display the created Employee DataFrame
print("--- Employee DataFrame ---")
employee_df

--- Employee DataFrame ---

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxemburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [5]:
# --- Creating the Seniority Level DataFrame ---

# Define the data for the Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

# Create the Seniority Level DataFrame
seniority_df = pd.DataFrame(seniority_data)

# Display the created Seniority Level DataFrame
print("--- Seniority Level DataFrame ---")
seniority_df

--- Seniority Level DataFrame ---

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [6]:
# --- Saving DataFrames to CSV files ---

# Save the Project DataFrame to a CSV file named 'project_data.csv'
# index=False prevents pandas from writing the DataFrame index as a column in the CSV file
project_df.to_csv('project_data.csv', index=False)
print("Project DataFrame saved to 'project_data.csv'")

# Save the Employee DataFrame to a CSV file named 'employee_data.csv'
employee_df.to_csv('employee_data.csv', index=False)
print("Employee DataFrame saved to 'employee_data.csv'")

# Save the Seniority Level DataFrame to a CSV file named 'seniority_data.csv'
seniority_df.to_csv('seniority_data.csv', index=False)
print("Seniority Level DataFrame saved to 'seniority_data.csv'")

Project DataFrame saved to 'project_data.csv'
Employee DataFrame saved to 'employee_data.csv'
Seniority Level DataFrame saved to 'seniority_data.csv'

In [7]:
# Task 2: Compute and replace missing values in 'Cost' column using running average with a For loop.

# --- Step 1: Load the Project DataFrame from the CSV file ---
# We are loading the project_data.csv file that was saved in Task 1.
# This ensures we use the saved file as per assignment instructions for Task 2 onwards.
project_df = pd.read_csv('project_data.csv')

# Display the DataFrame before imputation to confirm the missing values (NaN)
print("--- Project DataFrame before filling missing 'Cost' values ---")
print(project_df)
print("\n")

--- Project DataFrame before filling missing 'Cost' values ---
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [8]:
# --- Step 2: Fill missing 'Cost' values using running average with a For loop ---

# Initialize a list to store non-missing cost values encountered so far
# This list will be used to calculate the 'running average'
non_missing_costs = []

# Iterate through each row of the 'project_df' using the index
# project_df.index gives us a list of numbers (0, 1, 2, ...) corresponding to each row
for i in project_df.index:
    # Get the current cost value from the 'Cost' column at the current row 'i'
    current_cost = project_df.loc[i, 'Cost']

    # Check if the current_cost is a missing value (NaN)
    # np.isnan() is used to check for NaN values because standard `== NaN` doesn't work
    if pd.isna(current_cost): # pd.isna() is a robust way to check for NaN in pandas
        # If it's a NaN, calculate the running average
        if non_missing_costs: # Check if there are any non-missing values recorded so far
            # Calculate the average of all costs collected in 'non_missing_costs'
            running_avg = sum(non_missing_costs) / len(non_missing_costs)
            # Replace the NaN value in the DataFrame with the calculated running average
            # project_df.loc[i, 'Cost'] allows us to select a specific cell by row index 'i' and column name 'Cost'
            project_df.loc[i, 'Cost'] = running_avg
            # Print a message to show what was filled, for verification
            print(f"Filled missing 'Cost' at index {i} with running average: {running_avg:.2f}")
        else:
            # If there are no non-missing costs yet (i.e., first value is NaN), we can't calculate an average.
            # For this assignment, we'll assume there's always an initial non-NaN value before a NaN.
            # If not, a common approach would be to fill with 0 or a global average later.
            project_df.loc[i, 'Cost'] = 0 # As a fallback, fill with 0 or a more suitable default if no previous values exist
            print(f"Filled missing 'Cost' at index {i} with 0 (no previous non-missing costs).")
    else:
        # If the current_cost is NOT a missing value, add it to our list of non-missing costs
        non_missing_costs.append(current_cost)

# Display the DataFrame after filling missing values to see the changes
print("\n--- Project DataFrame after filling missing 'Cost' values ---")
print(project_df)
print("\n")

Filled missing 'Cost' at index 4 with running average: 3250500.00
Filled missing 'Cost' at index 8 with running average: 2061714.29

--- Project DataFrame after filling missing 'Cost' values ---
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [9]:
# --- Verification Step: Check Cost values after loading from CSV (Task 2, Cell 1) ---
print("Cost column values after loading from 'project_data.csv' (Task 2, Cell 1):")
print(project_df['Cost'].tolist())

Cost column values after loading from 'project_data.csv' (Task 2, Cell 1):
[1002000.0, 2000000.0, 4500000.0, 5500000.0, 3250500.0, 680000.0, 400000.0, 350000.0, 2061714.2857142857, 300000.0, 2000000.0, 1000000.0, 3000000.0, 200000.0]

In [10]:
# --- Step 3: Save the updated Project DataFrame to CSV (optional but good practice)  ---
project_df.to_csv('project_data_imputed_cost.csv', index=False) # <--- Changed filename here!
print("Updated Project DataFrame saved to 'project_data_imputed_cost.csv'")

Updated Project DataFrame saved to 'project_data_imputed_cost.csv'

In [11]:
# Task 3 --- Split the name column in the Employee dataframe into two new columns ---

In [12]:
import pandas as pd # Make sure pandas is imported

# Load the Employee DataFrame from the CSV file saved in Task 1
# Assuming it was saved as 'employee_data.csv'
employee_df = pd.read_csv('employee_data.csv')

print("--- Original Employee DataFrame for Task 3 ---")
print(employee_df)
print("\n" + "="*50 + "\n")

# --- Task 3: Split 'Name' into 'First Name' and 'Last Name' ---

# 1. Split the 'Name' column into two new columns.
#    The .str.split() method splits strings in a Series by a delimiter (default is space)
#    expand=True makes the split parts into separate columns.
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# 2. Remove the original 'Name' column.
#    axis=1 specifies that we are dropping a column.
#    inplace=True modifies the DataFrame directly.
employee_df.drop('Name', axis=1, inplace=True)

print("--- Employee DataFrame after splitting 'Name' and removing original column ---")
print(employee_df)

--- Original Employee DataFrame for Task 3 ---
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxemburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

==================================================

--- Employee DataFrame after splitting 'Name' and removing original column ---
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxemburg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [13]:
import pandas as pd # Make sure pandas is imported if you're starting a fresh cell/session

# --- Task 4: Join all three dataframes into one single dataframe called "Final" ---

print("--- Starting Task 4: Joining DataFrames ---")

# --- Step 0: Load all necessary DataFrames ---
# IMPORTANT: These paths assume you saved your CSVs correctly in Task 1 and Task 2.
# project_df should be the one with imputed costs from Task 2 ('project_data_imputed_cost.csv').
try:
    project_df = pd.read_csv('project_data_imputed_cost.csv')
    employee_df = pd.read_csv('employee_data.csv')
    seniority_df = pd.read_csv('seniority_data.csv')

    print("\nDataFrames loaded successfully with their current columns:")
    print("Project DF columns:", project_df.columns.tolist())
    print("Employee DF columns:", employee_df.columns.tolist())
    print("Seniority DF columns:", seniority_df.columns.tolist())

except FileNotFoundError as e:
    print(f"\nERROR: Could not load one of the CSV files. Please ensure they are saved correctly from Task 1 and Task 2.")
    print(f"Missing file: {e.filename}")
    print("Make sure you ran Task 1 (including saving CSVs) and Task 2 (saving imputed_cost.csv) successfully.")
    # If a file is not found, we cannot proceed.
    exit()


print("\n--- Initial state of DataFrames for joining (first 2 rows) ---")
print("\nProject DF:")
print(project_df.head(2))
print("\nEmployee DF (Note: It currently has 'Name' and not 'First Name'/'Last Name' as per your loaded CSVs):")
print(employee_df.head(2))
print("\nSeniority DF:")
print(seniority_df.head(2))
print("\n" + "="*70 + "\n")


# --- Step 1: Join employee_df and seniority_df first ---
# Based on your loaded data, both share 'ID' as a common column (which appears to be Employee ID).
try:
    # Merging on 'ID' because that's the common column name in your loaded DataFrames
    merged_emp_sen = pd.merge(employee_df, seniority_df, on='ID', how='inner')
    print("--- Successfully merged Employee and Seniority Data (first 5 rows) ---")
    print(merged_emp_sen.head())

except KeyError as e:
    print(f"\nERROR: Failed to merge employee_df and seniority_df on 'ID'.")
    print(f"Please check that both DataFrames actually have a column named 'ID'.")
    print(f"Columns in employee_df: {employee_df.columns.tolist()}")
    print(f"Columns in seniority_df: {seniority_df.columns.tolist()}")
    exit() # Stop execution if this merge fails


print("\n" + "="*70 + "\n")

# --- Step 2: Now, join the result (merged_emp_sen) with project_df ---
# All relevant DataFrames now have an 'ID' column.
# IMPORTANT NOTE on Data Design: The 'ID' column here is being used to link
# employee/seniority data (where 'ID' is likely Employee ID) with project data
# (where 'ID' is Project ID). This is an unusual data design if Employee IDs and
# Project IDs are truly separate. This merge will only combine rows where the
# Employee ID in one table matches a Project ID in the other.
# The original seniority data had a 'Project_ID' column to link employees to specific projects,
# which seems to be missing in your current 'seniority_df' (it only has 'ID' and 'Designation Level').
# We are proceeding based on the columns you currently have loaded.
try:
    # Merging on 'ID' because it's the common column in both parts now.
    Final = pd.merge(merged_emp_sen, project_df, on='ID', how='inner')
    print("--- Successfully merged all DataFrames into 'Final' DataFrame (first 5 rows) ---")
    print(Final.head())

except KeyError as e:
    print(f"\nERROR: Failed to merge the combined employee/seniority data with project_df on 'ID'.")
    print(f"Please check that both DataFrames have a column named 'ID'.")
    print(f"Columns in merged_emp_sen: {merged_emp_sen.columns.tolist()}")
    print(f"Columns in project_df: {project_df.columns.tolist()}")
    exit()


print("\n" + "="*70 + "\n")
print("--- Final Merged DataFrame Info ---")
Final.info() # Displaying info to see all columns and their data types

--- Starting Task 4: Joining DataFrames ---

DataFrames loaded successfully with their current columns:
Project DF columns: ['ID', 'Project', 'Cost', 'Status']
Employee DF columns: ['ID', 'Name', 'Gender', 'City', 'Age']
Seniority DF columns: ['ID', 'Designation Level']

--- Initial state of DataFrames for joining (first 2 rows) ---

Project DF:
     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing

Employee DF (Note: It currently has 'Name' and not 'First Name'/'Last Name' as per your loaded CSVs):
     ID             Name Gender    City  Age
0  A001       John Alter      M   Paris   25
1  A002  Alice Luxemburg      F  London   27

Seniority DF:
     ID  Designation Level
0  A001                  2
1  A002                  2

======================================================================

--- Successfully merged Employee and Seniority Data (first 5 rows) ---
     ID             Name Gender     City  Age  Designation Level
0  A001       John Alter      M    Paris   25                  2
1  A002  Alice Luxemburg      F   London   27                  2
2  A003    Tom Sabestine      M   Berlin   29                  3
3  A004       Nina Adgra      F  Newyork   31                  2
4  A005        Amy Johny      F   Madrid   30                  3

======================================================================

--- Successfully merged all DataFrames into 'Final' DataFrame (first 5 rows) ---
     ID             Name Gender    City  Age  Designation Level     Project  \
0  A001       John Alter      M   Paris   25                  2   Project 1
1  A001       John Alter      M   Paris   25                  2   Project 9
2  A001       John Alter      M   Paris   25                  2  Project 11
3  A002  Alice Luxemburg      F  London   27                  2   Project 2
4  A002  Alice Luxemburg      F  London   27                  2   Project 6

           Cost    Status
0  1.002000e+06  Finished
1  2.061714e+06   Ongoing
2  2.000000e+06    Failed
3  2.000000e+06   Ongoing
4  6.800000e+05    Failed

======================================================================

--- Final Merged DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 14 non-null     object
 1   Name               14 non-null     object
 2   Gender             14 non-null     object
 3   City               14 non-null     object
 4   Age                14 non-null     int64
 5   Designation Level  14 non-null     int64
 6   Project            14 non-null     object
 7   Cost               14 non-null     float64
 8   Status             14 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 1.1+ KB

In [14]:
import pandas as pd
import numpy as np # numpy is often used for conditional operations like np.where

# --- Task 5: Add a new bonus column ---

print("--- Starting Task 5: Adding Bonus Column ---")

# Ensure Final DataFrame is loaded (if not already in memory from Task 4)
# If you are running this in a new cell, you'll need to load Final.csv.
# If you just ran Task 4 in the same session, Final should be available.
# We'll assume Final is already in memory for continuous execution from Task 4.

# If you were to run this task completely separately, you would load it:
# Final = pd.read_csv('final_merged_data.csv') # Assuming you saved Final in Task 4

print("\n--- Current Final DataFrame (first 5 rows) before adding Bonus ---")
print(Final.head())
print("\n" + "="*70 + "\n")

# --- Calculate the Bonus ---

# 1. Define the bonus percentage
bonus_percentage = 0.05 # 5%

# 2. Apply the condition: bonus only for 'Finished' projects
#    np.where(condition, value_if_true, value_if_false)
Final['Bonus'] = np.where(
    Final['Status'] == 'Finished',  # Condition: Is the project status 'Finished'?
    Final['Cost'] * bonus_percentage, # Value if True: 5% of the 'Cost'
    0                                  # Value if False: 0 bonus
)

print("--- Final DataFrame after adding 'Bonus' column ---")
print(Final.head()) # Display the head to see the new Bonus column

print("\n--- Checking some bonus values for 'Finished' and other statuses ---")
# Displaying a few rows to confirm calculation based on status
print(Final[['Project', 'Status', 'Cost', 'Bonus']].head(10))

print("\n" + "="*70 + "\n")
print("Task 5 Completed: 'Bonus' column added to Final DataFrame.")

# Optional: Save the Final DataFrame with the new 'Bonus' column for future tasks
# Final.to_csv('final_with_bonus_data.csv', index=False)
# print("\nFinal DataFrame with bonus saved to 'final_with_bonus_data.csv'")

--- Starting Task 5: Adding Bonus Column ---

--- Current Final DataFrame (first 5 rows) before adding Bonus ---
     ID             Name Gender    City  Age  Designation Level     Project  \
0  A001       John Alter      M   Paris   25                  2   Project 1
1  A001       John Alter      M   Paris   25                  2   Project 9
2  A001       John Alter      M   Paris   25                  2  Project 11
3  A002  Alice Luxemburg      F  London   27                  2   Project 2
4  A002  Alice Luxemburg      F  London   27                  2   Project 6

           Cost    Status
0  1.002000e+06  Finished
1  2.061714e+06   Ongoing
2  2.000000e+06    Failed
3  2.000000e+06   Ongoing
4  6.800000e+05    Failed

======================================================================

--- Final DataFrame after adding 'Bonus' column ---
     ID             Name Gender    City  Age  Designation Level     Project  \
0  A001       John Alter      M   Paris   25                  2   Project 1
1  A001       John Alter      M   Paris   25                  2   Project 9
2  A001       John Alter      M   Paris   25                  2  Project 11
3  A002  Alice Luxemburg      F  London   27                  2   Project 2
4  A002  Alice Luxemburg      F  London   27                  2   Project 6

           Cost    Status    Bonus
0  1.002000e+06  Finished  50100.0
1  2.061714e+06   Ongoing      0.0
2  2.000000e+06    Failed      0.0
3  2.000000e+06   Ongoing      0.0
4  6.800000e+05    Failed      0.0

--- Checking some bonus values for 'Finished' and other statuses ---
      Project    Status          Cost     Bonus
0   Project 1  Finished  1.002000e+06   50100.0
1   Project 9   Ongoing  2.061714e+06       0.0
2  Project 11    Failed  2.000000e+06       0.0
3   Project 2   Ongoing  2.000000e+06       0.0
4   Project 6    Failed  6.800000e+05       0.0
5   Project 3  Finished  4.500000e+06  225000.0
6   Project 8    Failed  3.500000e+05       0.0
7  Project 10  Finished  3.000000e+05   15000.0
8   Project 4   Ongoing  5.500000e+06       0.0
9  Project 12   Ongoing  1.000000e+06       0.0

======================================================================

Task 5 Completed: 'Bonus' column added to Final DataFrame.

In [15]:
import pandas as pd

# Assume Final DataFrame is available from previous tasks (e.g., from Task 5)
# If you are running this in a new cell or session, ensure Final is loaded first.
# Example if starting new cell:
# Final = pd.read_csv('final_with_bonus_data.csv') # Assuming you saved it in Task 5

# --- Task 6: Demote Designation Level and Delete Records ---

print("--- Starting Task 6: Demoting and Deleting Records ---")

# Display initial state before modifications
print("\n--- Final DataFrame before Task 6 operations (first few rows, showing relevant columns) ---")
# Displaying specific columns to show the effect
print(Final[['Project', 'Status', 'Designation Level', 'ID']].head(10))
print("\n" + "="*70 + "\n")


# --- Part 1: Demote designation level by 1 for employees whose projects have status “Fail” ---

# 1. Identify rows where the project status is 'Failed'
failed_projects_condition = Final['Status'] == 'Failed'

# 2. For these identified rows, decrease their 'Designation Level' by 1.
#    We use .loc for safe and direct modification of the DataFrame.
Final.loc[failed_projects_condition, 'Designation Level'] = Final.loc[failed_projects_condition, 'Designation Level'] - 1

print("\n--- Final DataFrame after demoting employees on 'Failed' projects (first few rows) ---")
print(Final[['Project', 'Status', 'Designation Level', 'ID']].head(10))
print("\n" + "="*70 + "\n")


# --- Part 2: Delete the employee records whose designation level is above 4 ---

# 1. Identify rows where 'Designation Level' is greater than 4
employees_to_delete_condition = Final['Designation Level'] > 4

# 2. Keep only the rows where 'Designation Level' is 4 or less.
#    The '~' symbol inverts the boolean condition, so it selects rows that are NOT (designation level > 4).
Final = Final[~employees_to_delete_condition]

# Alternative way using .drop() (commented out, but useful to know):
# indices_to_delete = Final[employees_to_delete_condition].index
# Final.drop(indices_to_delete, inplace=True)


print("\n--- Final DataFrame after deleting records with Designation Level > 4 (first few rows) ---")
print(Final[['Project', 'Status', 'Designation Level', 'ID']].head(10))

print("\n--- Final DataFrame Shape after Task 6 ---")
print(f"Number of rows: {Final.shape[0]}, Number of columns: {Final.shape[1]}")

print("\n" + "="*70 + "\n")
print("Task 6 Completed: Designation levels demoted and specific records deleted.")

# Optional: Save the Final DataFrame after these modifications for future tasks
# Final.to_csv('final_task6_processed_data.csv', index=False)
# print("\nFinal DataFrame after Task 6 saved to 'final_task6_processed_data.csv'")

--- Starting Task 6: Demoting and Deleting Records ---

--- Final DataFrame before Task 6 operations (first few rows, showing relevant columns) ---
      Project    Status  Designation Level    ID
0   Project 1  Finished                  2  A001
1   Project 9   Ongoing                  2  A001
2  Project 11    Failed                  2  A001
3   Project 2   Ongoing                  2  A002
4   Project 6    Failed                  2  A002
5   Project 3  Finished                  3  A003
6   Project 8    Failed                  3  A003
7  Project 10  Finished                  3  A003
8   Project 4   Ongoing                  2  A004
9  Project 12   Ongoing                  2  A004

======================================================================


--- Final DataFrame after demoting employees on 'Failed' projects (first few rows) ---
      Project    Status  Designation Level    ID
0   Project 1  Finished                  2  A001
1   Project 9   Ongoing                  2  A001
2  Project 11    Failed                  1  A001
3   Project 2   Ongoing                  2  A002
4   Project 6    Failed                  1  A002
5   Project 3  Finished                  3  A003
6   Project 8    Failed                  2  A003
7  Project 10  Finished                  3  A003
8   Project 4   Ongoing                  2  A004
9  Project 12   Ongoing                  2  A004

======================================================================


--- Final DataFrame after deleting records with Designation Level > 4 (first few rows) ---
      Project    Status  Designation Level    ID
0   Project 1  Finished                  2  A001
1   Project 9   Ongoing                  2  A001
2  Project 11    Failed                  1  A001
3   Project 2   Ongoing                  2  A002
4   Project 6    Failed                  1  A002
5   Project 3  Finished                  3  A003
6   Project 8    Failed                  2  A003
7  Project 10  Finished                  3  A003
8   Project 4   Ongoing                  2  A004
9  Project 12   Ongoing                  2  A004

--- Final DataFrame Shape after Task 6 ---
Number of rows: 14, Number of columns: 10

======================================================================

Task 6 Completed: Designation levels demoted and specific records deleted.

In [16]:
import pandas as pd
import numpy as np # For conditional logic with np.where

# --- Task 7: Add "Mr." / "Mrs." to First Name and drop Gender ---

print("--- Starting Task 7: Adding Titles and Dropping Gender ---")

# Assume Final DataFrame is available from previous tasks (e.g., Task 6)
# If you are running this in a new cell or session, ensure Final is loaded first.
# Example if starting new cell:
# Final = pd.read_csv('final_task6_processed_data.csv') # Assuming you saved it in Task 6

print("\n--- Final DataFrame before Task 7 operations (first 5 rows, showing Name and Gender) ---")
# Displaying relevant columns to show initial state
print(Final[['ID', 'Name', 'Gender']].head())
print("\n" + "="*70 + "\n")


# --- Step 1: Re-split the 'Name' column into 'First Name' and 'Last Name' ---
# (This step is necessary if Task 3's changes were not persistent in Final DataFrame)
print("Splitting 'Name' into 'First Name' and 'Last Name' again for consistency...")
try:
    Final[['First Name', 'Last Name']] = Final['Name'].str.split(' ', expand=True)
    print("Name split successfully. New columns 'First Name' and 'Last Name' added.")
except Exception as e:
    print(f"Error splitting 'Name' column: {e}. Please check if 'Name' column exists and is string type.")
    exit()

print("\n--- Final DataFrame after re-splitting Name (first 5 rows) ---")
print(Final[['ID', 'Name', 'First Name', 'Last Name', 'Gender']].head())
print("\n" + "="*70 + "\n")


# --- Step 2: Add "Mr." and "Mrs." based on the 'Gender' column ---

# Define a function to add prefixes
def add_title(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    else:
        return row['First Name'] # Fallback for any other gender values or NaNs

# Apply the function to create the updated 'First Name' column
Final['First Name'] = Final.apply(add_title, axis=1) # axis=1 means apply row by row

# Alternative using np.where (more concise for simple conditions):
# Final['First Name'] = np.where(Final['Gender'] == 'M', 'Mr. ' + Final['First Name'],
#                               np.where(Final['Gender'] == 'F', 'Mrs. ' + Final['First Name'], Final['First Name']))

print("\n--- Final DataFrame after adding titles to 'First Name' (first 5 rows) ---")
print(Final[['ID', 'First Name', 'Last Name', 'Gender']].head())
print("\n" + "="*70 + "\n")


# --- Step 3: Drop the original 'Name' and 'Gender' columns ---
# We drop 'Name' because 'First Name' and 'Last Name' are now available.
# We drop 'Gender' as requested.
columns_to_drop = ['Name', 'Gender']

# Check if columns exist before dropping to prevent errors
existing_columns_to_drop = [col for col in columns_to_drop if col in Final.columns]

if existing_columns_to_drop:
    Final.drop(existing_columns_to_drop, axis=1, inplace=True)
    print(f"Columns {existing_columns_to_drop} dropped successfully.")
else:
    print("No 'Name' or 'Gender' columns found to drop (they might have been dropped already or not exist).")


print("\n--- Final DataFrame after dropping 'Name' and 'Gender' columns ---")
print(Final.head())

print("\n--- Final DataFrame Info after Task 7 ---")
Final.info()

print("\n" + "="*70 + "\n")
print("Task 7 Completed: Titles added to 'First Name' and 'Gender' column dropped.")

# Optional: Save the Final DataFrame after these modifications for future tasks
# Final.to_csv('final_task7_processed_data.csv', index=False)
# print("\nFinal DataFrame after Task 7 saved to 'final_task7_processed_data.csv'")

--- Starting Task 7: Adding Titles and Dropping Gender ---

--- Final DataFrame before Task 7 operations (first 5 rows, showing Name and Gender) ---
     ID             Name Gender
0  A001       John Alter      M
1  A001       John Alter      M
2  A001       John Alter      M
3  A002  Alice Luxemburg      F
4  A002  Alice Luxemburg      F

======================================================================

Splitting 'Name' into 'First Name' and 'Last Name' again for consistency...
Name split successfully. New columns 'First Name' and 'Last Name' added.

--- Final DataFrame after re-splitting Name (first 5 rows) ---
     ID             Name First Name  Last Name Gender
0  A001       John Alter       John      Alter      M
1  A001       John Alter       John      Alter      M
2  A001       John Alter       John      Alter      M
3  A002  Alice Luxemburg      Alice  Luxemburg      F
4  A002  Alice Luxemburg      Alice  Luxemburg      F

======================================================================


--- Final DataFrame after adding titles to 'First Name' (first 5 rows) ---
     ID  First Name  Last Name Gender
0  A001    Mr. John      Alter      M
1  A001    Mr. John      Alter      M
2  A001    Mr. John      Alter      M
3  A002  Mrs. Alice  Luxemburg      F
4  A002  Mrs. Alice  Luxemburg      F

======================================================================

Columns ['Name', 'Gender'] dropped successfully.

--- Final DataFrame after dropping 'Name' and 'Gender' columns ---
     ID    City  Age  Designation Level     Project          Cost    Status  \
0  A001   Paris   25                  2   Project 1  1.002000e+06  Finished
1  A001   Paris   25                  2   Project 9  2.061714e+06   Ongoing
2  A001   Paris   25                  1  Project 11  2.000000e+06    Failed
3  A002  London   27                  2   Project 2  2.000000e+06   Ongoing
4  A002  London   27                  1   Project 6  6.800000e+05    Failed

     Bonus  First Name  Last Name
0  50100.0    Mr. John      Alter
1      0.0    Mr. John      Alter
2      0.0    Mr. John      Alter
3      0.0  Mrs. Alice  Luxemburg
4      0.0  Mrs. Alice  Luxemburg

--- Final DataFrame Info after Task 7 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 14 non-null     object
 1   City               14 non-null     object
 2   Age                14 non-null     int64
 3   Designation Level  14 non-null     int64
 4   Project            14 non-null     object
 5   Cost               14 non-null     float64
 6   Status             14 non-null     object
 7   Bonus              14 non-null     float64
 8   First Name         14 non-null     object
 9   Last Name          14 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.2+ KB

======================================================================

Task 7 Completed: Titles added to 'First Name' and 'Gender' column dropped.

In [17]:
import pandas as pd
import numpy as np # For np.where, which is excellent for conditional operations

# --- Task 8: Promote Designation Level based on Age ---

print("--- Starting Task 8: Promoting Designation Level by Age ---")

# Assume Final DataFrame is available from previous tasks (e.g., from Task 7)
# If you are running this in a new cell or session, ensure Final is loaded first.
# Example if starting new cell:
# Final = pd.read_csv('final_task7_processed_data.csv') # Assuming you saved it after Task 7

print("\n--- Final DataFrame before Task 8 operations (first few rows, showing ID, Age, and Designation Level) ---")
# Displaying specific columns to show the effect clearly
print(Final[['ID', 'Age', 'Designation Level']].head(10))
print("\n" + "="*70 + "\n")


# --- Promote designation level by 1 for employees whose age is more than 29 years ---

# 1. Define the condition: Age > 29
age_more_than_29_condition = Final['Age'] > 29

# 2. Apply the promotion using np.where()
#    np.where(condition, value_if_true, value_if_false)
#    - If the age_more_than_29_condition is True, then 'Designation Level' is increased by 1.
#    - If the condition is False (age <= 29), then 'Designation Level' remains unchanged.
Final['Designation Level'] = np.where(
    age_more_than_29_condition,              # Condition: Is Age > 29?
    Final['Designation Level'] + 1,          # Value if True: Promote by 1
    Final['Designation Level']               # Value if False: Keep current level
)

print("\n--- Final DataFrame after promoting Designation Level (first few rows) ---")
print(Final[['ID', 'Age', 'Designation Level']].head(10))

# --- Verification Step (Optional but Recommended) ---
print("\n--- Verifying some rows where Age > 29 (to confirm promotion) ---")
# Filter and display only those rows that should have received a promotion
print(Final[Final['Age'] > 29][['ID', 'Age', 'Designation Level']].head())


print("\n" + "="*70 + "\n")
print("Task 8 Completed: Designation levels promoted based on age.")

# Optional: Save the Final DataFrame after these modifications for future tasks
# Final.to_csv('final_task8_processed_data.csv', index=False)
# print("\nFinal DataFrame after Task 8 saved to 'final_task8_processed_data.csv'")

--- Starting Task 8: Promoting Designation Level by Age ---

--- Final DataFrame before Task 8 operations (first few rows, showing ID, Age, and Designation Level) ---
     ID  Age  Designation Level
0  A001   25                  2
1  A001   25                  2
2  A001   25                  1
3  A002   27                  2
4  A002   27                  1
5  A003   29                  3
6  A003   29                  2
7  A003   29                  3
8  A004   31                  2
9  A004   31                  2

======================================================================


--- Final DataFrame after promoting Designation Level (first few rows) ---
     ID  Age  Designation Level
0  A001   25                  2
1  A001   25                  2
2  A001   25                  1
3  A002   27                  2
4  A002   27                  1
5  A003   29                  3
6  A003   29                  2
7  A003   29                  3
8  A004   31                  3
9  A004   31                  3

--- Verifying some rows where Age > 29 (to confirm promotion) ---
      ID  Age  Designation Level
8   A004   31                  3
9   A004   31                  3
10  A004   31                  3
11  A005   30                  4
12  A005   30                  4

======================================================================

Task 8 Completed: Designation levels promoted based on age.

In [18]:
import pandas as pd

# --- Task 9: Calculate Total Project Cost per Employee ---

print("--- Starting Task 9: Calculating Total Project Cost per Employee ---")

# Assume Final DataFrame is available from previous tasks (e.g., from Task 8)
# If you are running this in a new cell or session, ensure Final is loaded first.
# Example if starting new cell:
# Final = pd.read_csv('final_task8_processed_data.csv') # Assuming you saved it after Task 8

print("\n--- Final DataFrame (first few rows, showing ID, First Name, and Cost) ---")
# Displaying relevant columns to show initial state for this task
print(Final[['ID', 'First Name', 'Cost']].head(10))
print("\n" + "="*70 + "\n")


# --- Step 1: Group the Final DataFrame by Employee ID and First Name ---
# We need to sum the 'Cost' for each unique combination of Employee ID and First Name.
# 'ID' in the Final DataFrame represents the Employee ID after the merges.
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# --- Step 2: Rename the 'Cost' column to 'Total cost' ---
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)


print("\n--- New DataFrame 'TotalProjCost' ---")
print(TotalProjCost)

print("\n--- TotalProjCost DataFrame Info ---")
TotalProjCost.info()

print("\n" + "="*70 + "\n")
print("Task 9 Completed: 'TotalProjCost' DataFrame created with total costs per employee.")

# Optional: Save the TotalProjCost DataFrame for future reference or use
# TotalProjCost.to_csv('total_project_cost_per_employee.csv', index=False)
# print("\nTotalProjCost DataFrame saved to 'total_project_cost_per_employee.csv'")

--- Starting Task 9: Calculating Total Project Cost per Employee ---

--- Final DataFrame (first few rows, showing ID, First Name, and Cost) ---
     ID  First Name          Cost
0  A001    Mr. John  1.002000e+06
1  A001    Mr. John  2.061714e+06
2  A001    Mr. John  2.000000e+06
3  A002  Mrs. Alice  2.000000e+06
4  A002  Mrs. Alice  6.800000e+05
5  A003     Mr. Tom  4.500000e+06
6  A003     Mr. Tom  3.500000e+05
7  A003     Mr. Tom  3.000000e+05
8  A004   Mrs. Nina  5.500000e+06
9  A004   Mrs. Nina  1.000000e+06

======================================================================


--- New DataFrame 'TotalProjCost' ---
     ID  First Name    Total cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

--- TotalProjCost DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      object
 1   First Name  5 non-null      object
 2   Total cost  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

======================================================================

Task 9 Completed: 'TotalProjCost' DataFrame created with total costs per employee.

In [19]:
import pandas as pd

# --- Task 10: Print all employee details whose city name contains the letter “o” ---

print("--- Starting Task 10: Filtering Employees by City Name Containing 'o' ---")

# Assume Final DataFrame is available from previous tasks (e.g., from Task 9)
# If you are running this in a new cell or session, ensure Final is loaded first.
# Example if starting new cell:
# Final = pd.read_csv('final_task9_processed_data.csv') # Assuming you saved it after Task 9

print("\n--- Final DataFrame (first few rows, showing ID, First Name, and City) ---")
# Displaying relevant columns to show initial state for this task
print(Final[['ID', 'First Name', 'City']].head(10))
print("\n" + "="*70 + "\n")


# --- Filter employees whose city name contains the letter “o” (case-insensitive) ---

# 1. Define the condition: 'City' column contains 'o' or 'O'.
#    - .str: Accesses string methods for the column.
#    - .contains('o', case=False): Checks if the string contains 'o'.
#      'case=False' makes the search case-insensitive (matches 'o' or 'O').
#      'na=False' treats any NaN (Not a Number) values in the 'City' column as False,
#      meaning rows with missing city names won't be included unless explicitly handled.
city_contains_o_condition = Final['City'].str.contains('o', case=False, na=False)

# 2. Filter the Final DataFrame using this boolean condition.
employees_with_o_in_city = Final[city_contains_o_condition]


print("\n--- Employee details whose city name contains the letter 'o' (case-insensitive) ---")
if not employees_with_o_in_city.empty:
    # If there are matching employees, print their full details
    print(employees_with_o_in_city)
else:
    # If no employees match the criteria, print a message
    print("No employees found whose city name contains the letter 'o'.")


print("\n" + "="*70 + "\n")
print("Task 10 Completed: Employees filtered and printed.")

# Optional: You might save this filtered DataFrame if it's needed for later analysis
# employees_with_o_in_city.to_csv('employees_city_contains_o.csv', index=False)
# print("\nFiltered employees saved to 'employees_city_contains_o.csv'")

--- Starting Task 10: Filtering Employees by City Name Containing 'o' ---

--- Final DataFrame (first few rows, showing ID, First Name, and City) ---
     ID  First Name     City
0  A001    Mr. John    Paris
1  A001    Mr. John    Paris
2  A001    Mr. John    Paris
3  A002  Mrs. Alice   London
4  A002  Mrs. Alice   London
5  A003     Mr. Tom   Berlin
6  A003     Mr. Tom   Berlin
7  A003     Mr. Tom   Berlin
8  A004   Mrs. Nina  Newyork
9  A004   Mrs. Nina  Newyork

======================================================================


--- Employee details whose city name contains the letter 'o' (case-insensitive) ---
      ID     City  Age  Designation Level     Project       Cost    Status  \
3   A002   London   27                  2   Project 2  2000000.0   Ongoing
4   A002   London   27                  1   Project 6   680000.0    Failed
8   A004  Newyork   31                  3   Project 4  5500000.0   Ongoing
9   A004  Newyork   31                  3  Project 12  1000000.0   Ongoing
10  A004  Newyork   31                  3  Project 13  3000000.0  Finished

       Bonus  First Name  Last Name
3        0.0  Mrs. Alice  Luxemburg
4        0.0  Mrs. Alice  Luxemburg
8        0.0   Mrs. Nina      Adgra
9        0.0   Mrs. Nina      Adgra
10  150000.0   Mrs. Nina      Adgra

======================================================================

Task 10 Completed: Employees filtered and printed.